<nav class="sticky top-0 shadow-md bg-[#b0cfe1] mb-10 flex justify-center">
  <div class="flex items-center justify-between w-[90%] my-5">
    <%= link_to 'HAO', root_path, class:'text-3xl' %>
    <%= link_to '新增文章', new_article_path, class:'write-btn text-xs' %>
  </div>
</nav>
